<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
body {
	padding-top: 300px;
}
</style>
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>
<link rel="icon" href="http://getbootstrap.com/favicon.ico"></link>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>New Film</title>
</head>
<body>
	<!--
	<h1>New Film</h1>
	<form th:action="@{/processFilmForm}" method="post">
		Title: <input type="text" name="title"></input><br></br> Content: <input
			type="text" name="content"></input><br></br> <input type="submit"
			value="Submit"></input>
	</form>
	-->
	<div class="container">
		<h2>New Film</h2>
		<p>Please, fill in the required fields</p>
		<form th:action="@{/processFilmForm}" method="post">
			<div class="form-group">
				<label for="title">Title:</label> <input type="text"
					class="form-control" id="title" name="title"></input>
			</div>
			<div class="form-group">
				<label for="content">Content:</label> <input type="text"
					class="form-control" id="content" name="content"></input>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</body>
</html>