<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
body {
	padding-top: 300px;
}
</style>
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>
<link rel="icon" href="http://getbootstrap.com/favicon.ico"></link>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Delete Film</title>
</head>
<body>
	<!--
	<form th:action="@{/deleteFilmForm}" method="post">
		Current title of the movie you want to delete: <input type="text"
			name="currentTitle"></input><br></br> <input type="submit"
			value="Submit"></input>
	</form>
	-->
	<div class="container">
		<h2>Delete Film</h2>
		<p>Please, fill in the title of the film you want to delete</p>
		<form th:action="@{/deleteFilmForm}" method="post">
			<div class="form-group">
				<label for="currentTitle">Current name of the film you want to
					delete: :</label> <input type="text" class="form-control" id="currentTitle"
					name="currentTitle"></input>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</body>
</html>